<style>
	body {background-color:powderblue;}
	div {width:200px;background-color:yellow;font-family:verdana;font-size:100%;border:10px solid;text-align:center;padding:10px;margin:100px;auto}
	select {background-color:yellow;font-family:verdana;}	
</style>